.listing-index-container{
    position: absolute;
    top: 3.5rem;
    width: 80%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(199, 252, 199);
    object-fit: cover;
}


.listing-card-container{
    width: 75%;



}
