/*     -----------       main  containers        ------------     */

.comment-card-container {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  word-wrap: break-word;
  width: 100%;
  gap: 10px;
}
.comment-container-left {
  display: flex;
  width: 50px;
}
.comment-container-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  gap: 1px;
  padding-top: 2px;
}

/* ---------        contents       ---------- */

/* ---------        comment icon       ---------- */

.comment-icon {
  padding-top: 4px;
  padding-right: 5px;

  height: 50px;
  width: 50px;
  object-fit: cover;
}

.comment-icon-letter {
  height: 50px;
  width: 50px;
}

/* -------     username/edit/delete comment    ------ */

.username-edit-delete-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comment-username {
  font-size: 12px;
  color: #616161;
}

.edit-delete-comment-container {
  display: flex;
  gap: 15px;
  margin-right: 5px;
}

.edit-comment-button-icon,
.delete-comment-button-icon,
.cancel-delete-comment {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  color: #616161;
}

.delete-comment-buttons-container {
  display: flex;
  gap: 15px;
}

.confirm-delete-comment {
  color: rgba(255, 0, 0, 0.75);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.cancel-delete-comment:hover {
  transform: scale(1.4);
}
.confirm-delete-comment:hover {
  transform: scale(1.4);
}

.edit-comment-button-icon:hover {
  transform: scale(1.2);
  color: rgba(255, 0, 255, 0.75);
}

.delete-comment-button-icon:hover{
  transform: scale(1.2);
  color: rgba(255, 0, 0, 0.75);

}



/* ---------        comment content       ---------- */

.comment-content {
  width: 100%;
  font-size: 14px;
  word-wrap: break-word;
  flex-wrap: wrap;
}

/*   -----------------              likes            --------------------- */

.comment-like-total {
  font-size: 14px;
  color: #616161;
}

.comment-like-container {
  margin-top: 2px;
  display: flex;
  gap: 5px;
}

.comment-unlike {
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.comment-liked {
  font-size: 14px;
  color: rgba(255, 0, 255, 0.75);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
