.single-listing-page-container{
margin-top: 50px;
display: flex;
flex-direction: column;
align-items: center;

}
.listing-page-display-image{
height: 250px;
width: 60%;
object-fit: cover;
}

.listing-page-additional-image{
height: 250px;
width: 60%;
object-fit: cover;

}

.listing-page-description{
    width: 60%;

}
