/*  ------------        containers         ------------ */

.nav-container {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  /* background-color: #222; */
  background-color: #6f6f6f;

  z-index: 2;

  display: flex;
  align-items: center;
  width: 100%;
}

.keeby-title-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-search-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons-container {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*  ---------     CONTENTS        --------- */

/*  ---------     title       --------- */
.keeby-title {
  height: 30px;
  width: 169px;
}

/*  ---------     search        --------- */

.search-input-login {
  width: 90%;
  height: 28px;

  background-color: #222;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  box-shadow: 2.5px 2px 3px rgba(248, 105, 210, 0.85),
    -2px 2px 3px rgba(255, 255, 255, 0.65),
    2.5px -2px 3px rgba(255, 255, 255, 0.65),
    -2.5px -2px 3px rgba(255, 255, 255, 0.85);
  padding: none;
  font-size: 12px;
  padding: 0.1rem;

  transition: box-shadow 0.3s ease-in-out;
}

.search-input-login:focus {
  outline: none;
  box-shadow: 0px 0 10px #0fa005;
}

/*  ---------     search results       --------- */

.search-result-container {
  position: absolute;
  top: 55px;
  width: 45%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0fa005;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
/* this psuedo element is for that sweet sweet opacity on background */

.search-result-container::after {
  content: "";
  background: url("../../media/matrix.gif");
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/*  ---------     buttons      --------- */
/*  ---------     logged-in      --------- */

#list-your-keeb-nav {
  font-size: 16px;
  transition: transform 0.3s ease-in-out;
}

#list-your-keeb-nav:hover {
  transform: scale(1.15);
}

.profile-icon {
  height: 30px;
  width: 30px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.profile-icon:hover {
  transform: scale(1.15);
}

/*  ---------     logged-out      --------- */

#logged-out-nav-buttons {
  padding: 0;
  border: none;
  background: none;
  font-size: 16px;
  transition: transform 0.3s ease-in-out;
}

#logged-out-nav-buttons:hover {
  transform: scale(1.15);
}

/* ------------        User Icon Modal     ----------- */

#user-icon-modal-container {
  position: fixed;
  top: 70px;
  /* left: 75%; */
  right: 6%;
  height: 270px;
  width: 260px;
  background-image: url("../../media/blueGrid.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #325aab;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.user-image-container-modal {
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-icon-modal-buttons-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}




.profile-icon-modal {
  width: 120px;
  height: 110px;
  object-fit: cover;
}
.profile-icon-letter-modal {
  width: 120px;
  height: 110px;
}


#icon-modal-buttons{
  font-size: 16px;
  background: none;
  border: none;
  padding: 0;

  transition: transform 0.3s ease-in-out;
}

#icon-modal-buttons:hover {
  transform: scale(1.15);
}


/* ------------        Log In Modal     ----------- */

.log-in-modal-container {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 200px;
  width: 300px;
  background-image: url("../../media/shapes.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #9f7eca;
}
.log-in-modal-title {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 5%;
}

.email-field-container {
  position: relative;
  left: 15%;
}

.password-field-container {
  position: relative;
  left: 10%;
}

#log-in-button-modal {
  background: none;
  border: none;
  padding: 0;
  position: relative;
  left: 40%;
}

#log-in-button-modal:hover {
  color: red;
}

.error-text-login {
  color: red;
  font-size: 12px;
  position: relative;
  bottom: 20px;
  left: 20%;
}

/* ------------        Sign Up Modal     ----------- */

.signup-modal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 400px;
  width: 610px;
  background-image: url("../../media/redGrid.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px #faafaf;
  margin: 0 auto;
}

.left-signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  width: 60%;
  right: 45%;
  bottom: 25%;
}

.optional-signup-container {
  position: absolute;
  width: 50%;
  left: 50%;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.signup-modal-title {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 5px;
}

.sign-up-submit {
  background: none;
  padding: none;
  border: none;
  color: rgb(0, 255, 247);
  font-size: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 240px;
  margin: 0 auto;
}

.sign-up-submit:hover {
  color: red;
}

.error-text-signup {
  color: red;
  position: relative;
  bottom: 35px;
}
