/* ------------        Nav Bar     ----------- */

.button-styling {
  color: rgb(255, 255, 255);
  text-shadow: 0.5px -0.5px 0 rgba(255, 255, 255, 0.5),
    2.5px 1px 2.5px rgba(255, 0, 255, 0.85),
    -2.5px -2px 2.5px rgba(0, 0, 255, 0.85),
    0.5px -1.5px 0 rgba(255, 255, 255, 0.8);
}

.button-styling:hover {
  color: red;
  text-shadow: none;
}



/*  ------------        containers         ------------ */

.nav-container {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  /* background-color: #222; */
  background-color: #6f6f6f;
  
  z-index: 2;
  
  
  display: flex;
  align-items: center;
  width: 100%;
}




.keeby-title-container{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-search-container{

width: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.nav-buttons-container{

width: 25%;
display: flex;
justify-content: center;
align-items: center;
gap: 15%;

}

/*  ---------     contents        --------- */

/*  ---------     title       --------- */
.keeby-title {
  height: 30px;
  width: 169px;
}


/*  ---------     search        --------- */


.search-input-login {
  width: 90%;
  height: 28px;


  background-color: #222;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  box-shadow: 2.5px 2px 3px rgba(248, 105, 210, 0.85),
    -2px 2px 3px rgba(255, 255, 255, 0.65),
    2.5px -2px 3px rgba(255, 255, 255, 0.65),
    -2.5px -2px 3px rgba(255, 255, 255, 0.85);
  padding: none;
  font-size: 12px;
  padding: 0.1rem;

  transition: box-shadow 0.3s ease-in-out;
}

.search-input-login:focus {
  outline: none;
  box-shadow: 0px 0 10px #0fa005;
}


/*  ---------     search results       --------- */

.search-result-container {
  position: absolute;
  top: 55px;
  width: 45%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0fa005;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
/* this psuedo element is for that sweet sweet opacity on background */

.search-result-container::after {
  content: "";
  background: url("../../media/matrix.gif");
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}




/*  ---------     buttons        --------- */
/*  ---------     usericon        --------- */











.log-in-button {
  /* position: absolute;
  left: 81%;
  top: 0.78rem; */
  padding: 0;
  border: none;
  background: none;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-shadow: 0.5px -0.5px 0 rgba(255, 255, 255, 0.5),
    2.5px 1px 2.5px rgba(255, 0, 255, 0.85),
    -2.5px -2px 2.5px rgba(0, 0, 255, 0.85),
    0.5px -1.5px 0 rgba(255, 255, 255, 0.8);
}
.log-in-button:hover {
  color: red;
  text-shadow: none;
}

.sign-up-button {
  /* position: absolute;
  left: 89%;
  top: 0.78rem; */
  padding: 0;
  border: none;
  background: none;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-shadow: 0.5px -0.5px 0 rgba(255, 255, 255, 0.5),
    2.5px 1px 2.5px rgba(255, 0, 255, 0.85),
    -2.5px -2px 2.5px rgba(0, 0, 255, 0.85),
    0.5px -1.5px 0 rgba(255, 255, 255, 0.8);
}
.sign-up-button:hover {
  color: red;
  text-shadow: none;
}

.demo-log-in-button {
  /* position: absolute;
  left: 73%;
  top: 0.78rem; */
  padding: 0;
  border: none;
  background: none;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-shadow: 0.5px -0.5px 0 rgba(255, 255, 255, 0.5),
    2.5px 1px 2.5px rgba(255, 0, 255, 0.85),
    -2.5px -2px 2.5px rgba(0, 0, 255, 0.85),
    0.5px -1.5px 0 rgba(255, 255, 255, 0.8);
}
.demo-log-in-button:hover {
  color: red;
  text-shadow: none;
}

.list-a-keeb-button {
  /* position: absolute;
  left: 75%;
  font-size: 12px;
  top: 0.78rem; */
  text-shadow: 0.5px -0.5px 0 rgba(255, 255, 255, 0.5),
    2.5px 1px 2.5px rgba(255, 0, 255, 0.85),
    -2.5px -2px 2.5px rgba(0, 0, 255, 0.85),
    0.5px -1.5px 0 rgba(255, 255, 255, 0.8);
}

.list-a-keeb-button:hover {
  color: red;
  text-shadow: none;
}

.profile-icon {
  /* position: absolute;
  top: 10px;
  left: 95%; */
  height: 20px;
  width: 20px;
  object-fit: cover;
  /* margin: 10px; */
}


/* ------------        User Icon Modal     ----------- */

#user-icon-modal-container {
  position: fixed;
  top: 7%;
  right: 0;
  left: 74%;
  bottom: 0;
  height: 250px;
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../media/blueGrid.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #325aab;
  /* background-color: rgba(255, 255, 255, 0.1); */
}

/* #user-icon-modal-container::after{
  background-color: rgba(0, 0, 0, 0.1);

} */
/* .modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */

.profile-icon-modal {
  width: 96px;
  height: 96px;
  object-fit: cover;
}
.profile-icon-letter-modal {
  width: 96px;
  height: 96px;
}

#manage-profile-button {
  background: none;
  border: none;
  padding: 0;
  margin: 5px;
  margin-bottom: 10px;
}

#manage-listings-button {
  background: none;
  border: none;
  padding: 0;
  margin: 5px;
  margin-bottom: 10px;
}

#log-out-button {
  background: none;
  border: none;
  padding: 0;
  margin: 5px;
}

.user-image-container-modal {
  margin: 10px;
}



/* ------------        Log In Modal     ----------- */

.log-in-modal-container {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 200px;
  width: 300px;
  background-image: url("../../media/shapes.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #9f7eca;
}
.log-in-modal-title {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 5%;
}

.email-field-container {
  position: relative;
  left: 15%;
}

.password-field-container {
  position: relative;
  left: 10%;
}

#log-in-button-modal {
  background: none;
  border: none;
  padding: 0;
  position: relative;
  left: 40%;
}

#log-in-button-modal:hover {
  color: red;
}

.error-text-login {
  color: red;
  font-size: 12px;
  position: relative;
  bottom: 20px;
  left: 20%;
}

/* ------------        Sign Up Modal     ----------- */

.signup-modal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 400px;
  width: 610px;
  background-image: url("../../media/redGrid.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px #faafaf;
  margin: 0 auto;
}

.left-signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  width: 60%;
  right: 45%;
  bottom: 25%;
}

.optional-signup-container {
  position: absolute;
  width: 50%;
  left: 50%;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.signup-modal-title {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 5px;
}

.sign-up-submit {
  background: none;
  padding: none;
  border: none;
  color: rgb(0, 255, 247);
  font-size: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 240px;
  margin: 0 auto;
}

.sign-up-submit:hover {
  color: red;
}

.error-text-signup {
  color: red;
  position: relative;
  bottom: 35px;
}
