.profile-page-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.profile-page-icon {
  height: 50px;
  width: 50px;
}

/* -------------         Moving Title           ----------------- */
.profile-title-text {
  z-index: -1;
  position: relative;
  /* color: white; */
  color: #1fff66;
  font-family: "VT323", monospace;
  text-align: center;
}

.profile-title-text::after {
  content: "";
  position: absolute;
  animation: periods 1s linear infinite;
}

@keyframes periods {
  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }
}
