/* ------     update listing containers    ------ */
.update-listing-page-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
  padding: 0.5rem 2rem 2rem 2rem;
  background-color: #2f2f2f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  gap: 5px;
}
.update-listing-form-container {
  display: flex;
  flex-direction: column;
}

.update-listing-title {
  color: #00dd00;

  position: relative;
  text-align: center;
  position: relative;
  z-index: 1;
}

.update-listing-title::after {
  content: "";
  position: absolute;
  animation: periods 1s linear infinite;
}

@keyframes periods {
  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }
}

/* ---------            Inputs         ----------- */

.update-listing-input {
  background-color: #444444;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.update-listing-input:focus {
  outline: none;
  box-shadow: 0 0 5px #0fa005;
}

#update-listing-name {
  width: 50%;
}

#update-listing-description-input {
  width: 90%;
  height: 150px;
}

.update-listing-upload-title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.update-listing-upload-tips {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.update-listing-upload-tips-color {
  color: #00dd00;
  opacity: 0.4;
}

.update-listing-choose-files-input {
  background-color: #444444;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.update-listing-choose-files-input::file-selector-button {
  background-color: #2f2f2f;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.update-listing-choose-files-input::file-selector-button:hover {
  box-shadow: 0 0 5px #0fa005;
}

/* ---------            Images         ----------- */

.current-listing-images {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.update-listing-image-upload-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}

.each-uploaded-image {
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.each-uploaded-image:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.x-marks-the-spot {
  color: red;
  opacity: 0.5;
}

/* ---------            Submit         ----------- */

.update-listing-submit-input {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 150px;
  background-color: #2f2f2f;
  color: #00dd00;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.update-listing-submit-input:hover {
  color: red;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
  transform: translateY(2px);
}

/* ---------            Errors         ----------- */

.update-listing-errors {
  color: red;
}
